/* Basic styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
    transition: background-color 0.5s, color 0.5s;
}

.light-mode {
    background-color: #f5deb3; /* Light brown */
    color: #000;
}

.dark-mode {
    background-color: #001f3f; /* Cool dark blue */
    color: #fff;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.title-container {
    display: flex;
    margin-left: 40px;
    align-items: center;
}

.title {
    font-size: 20px;
    margin: 0;
    padding: 0;
    transition: color 0.5s;
}

.title-link {
    text-decoration: none;  /* Remove default link styling */
    color: inherit;  /* Inherit color from the surrounding text */
}

.title-link:hover {
    text-decoration: underline;  /* Underline on hover */
    text-decoration-thickness: 2px;  /* Make the underline thinner */
}

.date {
    font-size: 12px;
    margin-left: 5px;
}

#toggle {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}

.navigation {
    display: flex;
    gap: 10px;
    margin-right: 40px;
}

.nav-button {
    padding: 5px 10px;
    background: none;
    border: 1px solid currentColor;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin-top: 120px; /* Increased space for the header */
    margin-bottom: 90px; /* Increased space for the footer */
    margin-left: 5%;
    margin-right: 5%;
    align-items: center; /* Ensure that all images are aligned to the center */
}
/* Gallery images */
.gallery img {
    flex-grow: 1;
    object-fit: cover;
    height: 200px; /* Fixed height to align all images */
    margin-left: -40px;
    margin-right: -40px;
    border: 3px solid #fff; /* Thin white border */
    border-radius: 5px;
    /* padding: 10px; */ /* this gives it the outline */
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    transform-origin: center;
    transform: scale(0.9) rotate(var(--rotation));
    box-shadow: var(--offsetX) var(--offsetY) 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); /* Darkens the edges */
    background-color: var(--padding-color); /* Use custom CSS variable for background color */
    display: flex;
    /* align-items: center; /* Vertically center the image */
    /* justify-content: center; /* Horizontally center the image */
}

/* Style horizontal images */
.gallery img.horizontal {
    margin-top: -10px;
    margin-bottom: -10px;
    width: auto;
    height: 200px; /* You can adjust this based on your preference */
}
/* Style vertical images */
.gallery img.vertical {
    margin-top: -100px;
    margin-bottom: -60px;
    max-width: calc(25% - 10px);
    height: auto;
    width: 200px; /* You can adjust this based on your preference */
}


/* Adjust padding color based on day/night mode */
.light-mode .gallery img {
    --padding-color: #001f3f;  /* Dark blue padding for day */
}

.dark-mode .gallery img {
    --padding-color: #f5deb3;  /* Light brown padding for night */
}


/* Add dimming effect using ::before pseudo-element */
.gallery img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  /* Semi-transparent black overlay to dim the image */
    opacity: 1;
    transition: opacity 0.3s;  /* Smooth transition for dimming effect */
    z-index: 1; /* Ensure the dimming is on top of the image */
}

/* Remove dim effect on hover */
.gallery img:hover::before {
    opacity: 0;  /* Make the overlay disappear */
}

/* Ensure image itself has a higher z-index than the dim effect */
.gallery img:hover {
    transform: scale(1.2);
    z-index: 2;  /* Make sure the image comes above the dimming effect */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0); /* Stronger shadow on hover */
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0); /* Darkens the edges */
}

/* Optional: Pin effect on image hover */
.gallery img:before {
    content: '\f0c5';  /* Font Awesome pin icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: -12px;
    left: -12px;
    font-size: 25px;
    color: #f5a623;
    display: none;
}

/* Show pin icon when image is hovered */
.gallery img:hover:before {
    display: block;
}


/* Randomize the height for mixing horizontal/vertical images */
.gallery img.random-height {
    grid-row: span 2;
    grid-column: span 2;
    max-height: 220px; /* Adjust as needed */
    justify-self: center;
    height: calc(100px + (200 * Math.random()))px; /* Random height between 100px and 300px */
}

/* Styling for the date text under the arrows */
.date-text {
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
}

/* Footer at the bottom of the page */
.footer {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    transition: color 0.5s;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-link {
    margin-left: 10px;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
}

/* Instagram icon color based on light/dark mode */
.light-mode .instagram-link i,
.dark-mode .instagram-link i {
    color: #000;  /* Black icon in light mode */
}

.dark-mode .instagram-link i {
    color: #fff;  /* White icon in dark mode */
}

.instagram-link:hover i {
    color: #E1306C;  /* Instagram brand color when hovered */
    transition: color 0.3s ease 0.1s;  /* Delay transition on hover */
}


/* Title color changes based on day/night modes */
.light-mode .title {
    color: #000;
}

.dark-mode .title {
    color: #fff;
}

/* Footer text color changes based on day/night modes (opposite to title) */
.light-mode .footer {
    color: #000;
}

.dark-mode .footer {
    color: #fff;
}

/* Toggle button styles based on day/night mode */
.light-mode #toggle {
    background-color: #333; /* Dark background during the day */
    color: #fff;            /* Light text during the day */
}

.dark-mode #toggle {
    background-color: #f5deb3; /* Light background during the night */
    color: #333;               /* Dark text during the night */
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        position: relative;
    }

    .title-container {
        position: relative;
        top: 0;
        z-index: 10;
        text-align: center;
        width: 100%;
    }

    .navigation {
        position: fixed;
        width: 100%;
        justify-content: center;
        margin-left: 20px;
        z-index: 5;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 10px 0;
    }

    #toggle,
    .nav-button {
        font-size: 12px;
        padding: 5px 8px;
    }
}
