body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.light-mode {
    background-color: #f5deb3; /* Light brown */
    color: #000;
}

.dark-mode {
    background-color: #001f3f; /* Cool dark blue */
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 10px;
    z-index: 1;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

#toggle {
    padding: 5px 10px;
}

.navigation {
    text-align: center;
}

.nav-button {
    padding: 5px 15px;
    margin: 0 5px;
    background: none;
    border: 1px solid currentColor;
    border-radius: 5px;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    max-width: 300px;
    flex-grow: 1;
    object-fit: cover;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    transform-origin: center;
    transform: scale(0.9) rotate(var(--rotation));
    box-shadow: var(--offsetX) var(--offsetY) 5px rgba(0, 0, 0, 0.5);
}

.gallery img:hover {
    transform: scale(1.05);
}
